body {
        font-family: 'Asap', serif;
        font-weight: 400;
      }
a {
        color: #0000FF;
	text-decoration:none;
      }
a:hover {
        color: #0000FF;
	text-decoration:none;
      }
#title {
	display:block;
        font-size: 48px;
        font-weight: 400;
	text-align:center;
	margin: 80px auto 0px;
      }
#title a {
        color: #000000;
	text-decoration:none;
      }
#title a:hover {
        color: #0000FF;
	text-decoration:none;
      }
#subtitle {
        font-size: 24px;
        font-weight: 400;
	text-align:center;
	font-style: italic;
	color: gray;
	margin: 0px auto 80px;
      }
#text {
	font-style: italic;
	max-width: 650px;
	margin: 0px auto 80px;
	padding: 0px 20px;
      }
h1 {
        font-size: 18px;
        font-weight: 700;
	margin: 40px 0px 30px;
      }
p {
        font-size: 16px;
	margin: 0px 0px 20px;
      }
